<div id="bossDiv" class="container d-flex">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <button mat-raised button>Start</button>
            <a mat-raised button routerLink="/"></a>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
<div class="bg-image align-items-center" id="bossDiv">
    <div class="container-flex">
        <div class="row p-5"></div>
        <div class="row align-items-center mt-5 p-5">
            <img class="img-fluid" src="jbTitle.png">
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-6 text-center">
                <button [routerlink]="['/']" type="button" class="btn btn-success btn-lg btn-block px-5 py-3">START</button>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>