
<div class="bg-image align-items-center" id="bossDiv">
    <div class="container-flex">
        <div class="row p-5"></div>
        <div class="row align-items-center mt-5 p-5">
            <img class="img-fluid" src="../../assets/jbTitle.png">
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-6 text-center">
                <a routerlink='/gameplay'>
                    <button type="button" class="btn btn-success btn-lg btn-block px-5 py-3">START</button>
                </a>
                
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>