

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>




    
    <div class="play-background" id="board">

       <img  class = "JBhead" src="../../assets/jack-black-head1.png" alt="">
       <p>{{dealerTotal}}</p>

       <p class = "pot" *ngIf=!isCollapsed>Pot:</p>

       <img class="card1" src="../../assets/card-back.png" alt="">
       <img class="card2" src="../../assets/card-back.png" alt="">
       <img class="card3" src="../../assets/card-back.png" alt="">
       <img class="card4" src="../../assets/card-back.png" alt="">
       <img class="card5" src="../../assets/card-back.png" alt="">
       <img class="card6" src="../../assets/card-back.png" alt="">

        <!--right cards above left cards below-->

       <img class="card7" src="../../assets/card-back.png" alt="">
       <img class="card8" src="../../assets/card-back.png" alt="">
       <img class="card9" src="../../assets/card-back.png" alt="">
       <img class="card10" src="../../assets/card-back.png" alt="">
       <img class="card11" src="../../assets/card-back.png" alt="">
       <img class="card12" src="../../assets/card-back.png" alt="">

    </div>

    <!--second half-->

    <div class="play-background">
        <div id="bettingDisplay" *ngIf="isCollapsed">
            <button (click) = "isCollapsed" (click)="this.deckService.getDeck(this.transferService.getBet())" id="deal">DEAL</button>
        </div>     
        <div *ngIf="isCollapsed">
            <app-betting-section></app-betting-section>
        
        </div>
       
        <div *ngIf="!isCollapsed">
            <app-playing-section></app-playing-section>
        </div>
        
        
        <p class = "bank">Bank:</p>
       
        
           
    </div>
    




