<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>




    
    <div class="play-background">
        <app-nav-bar></app-nav-bar>
       <img  class = "JBhead" src="../../assets/jack-black-head1.png" alt="">
       <p class = "pot">Pot:</p>
       <img class="card1" src="../../assets/card-back.png" alt="">
       <img class="card2" src="../../assets/card-back.png" alt="">
       <img class="card3" src="../../assets/card-back.png" alt="">
       <img class="card4" src="../../assets/card-back.png" alt="">
       <img class="card5" src="../../assets/card-back.png" alt="">
       <img class="card6" src="../../assets/card-back.png" alt="">

        <!--right cards above left cards below-->

       <img class="card7" src="../../assets/card-back.png" alt="">
       <img class="card8" src="../../assets/card-back.png" alt="">
       <img class="card9" src="../../assets/card-back.png" alt="">
       <img class="card10" src="../../assets/card-back.png" alt="">
       <img class="card11" src="../../assets/card-back.png" alt="">
       <img class="card12" src="../../assets/card-back.png" alt="">

    </div>



    <div class="play-background">
        <span>
            <button class="deal">Hit</button>
        </span>
        <span>
            <button class="dd">Double Down</button>
        </span>
        <span>
            <button class="Stay">Stay</button>
        </span>
        
        <p class = "bank">Bank:</p>
       
        
           
    </div>
    




