<div id="fullbar">
        


<span display="display:inline" id="RulesSpan">
   
        <button class="button" id="RulesButton" (click) = "toggleCollapse()">Rules</button>
        
    
</span>

<span style="display:inline"  id="LeaderboardSpan">
    
        <button class="button" id="LeaderboardButtton">Leaderboard</button>
    
</span>
<span id="FrinedsSpan" style="display: inline;">
        <button class="button" id="FriendsButton">Friends</button>
</span>

<span style="display: inline;">
        <ul style="display: inline;">
                <li style="display: inline;">
                        <a routerLink="/" >Home </a>
                </li>
                <li style="display: inline;">
                        <a routerLink="/login" >Login </a>
                </li>
                <li style="display: inline;">
                        <a routerLink="/register" >Register</a>
                </li>
                <li style="display: inline;">
                        {{message}}
                </li>
        </ul>
</span>
</div>

<div id="rules" *ngIf=!isCollapsed>
        <app-rules-pop-up></app-rules-pop-up>
</div>


