

<div id = bossDiv>
<div id="info" class="bg-image shadow-2-strong">
    <div style="display: inline;">Account Name: </div><div style="display: inline;">{{name}}</div>
    <br><br>
    <div style="display: inline;">Account Username: </div><div style="display: inline;">{{username}}</div>
    <br><br>
    <div style="display: inline;">Account Email: </div><div style="display: inline;">{{email}}</div>
    <br><br>
    <div style="display: inline;">Chips: : </div><div style="display: inline;">{{chips}}</div>
    <br><br>
    
    <li >
        <a routerLink="/login" >sendchips </a>
    </li>
    <li >
        <a routerLink="/acctChange">Update Account Info</a>
    </li>
</div>
</div>