#bossDiv{
    background-image: url(../../assets/bjbg3.jpg);
    position:center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#info{
    position: relative;
    top: 130px;
    margin: auto;

    background-color: hsla(36, 100%, 80%, 0.94);
    width: 360px;
    height: 400px;
    
}